<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WarsawJS Workshop #3 :: Shop Online</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>

    <script src="app/index.js"></script>
</head>
<body ng-app="shop" ng-controller="IntroController">
    <!--<shop></shop>-->
    <input type="text" ng-model="inputModel.value">
    <h1>{{inputModel.value}}</h1>
    <ul>
        <li ng-repeat="item in itemsList">{{item}}</li>
    </ul>

    <intro-directive obj-prop="testObj" text-prop="{{testText}}" fn-prop="callback(content)"></intro-directive>

    <div style="width: 100px; height: 100px; background-color: red;" ng-if="cbox" ></div>
</body>
</html>